@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Yantramanav:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    --text-2xs: 12px;
    --text-xs: 14px;
    --text-s: 16px;
    --text-m: 18px;
    --text-l: 20px;
    --text-xl: 25px;
    --text-2xl: 36px;
    --text-3xl: 48px;
    --text-4xl: 64px;
}

/* container items */

.section1 {
    background-image: url(/assets/images/section1.png);
    background-size: cover;
    background-repeat: no-repeat;
}


.container {
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}

.row {
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

/* common properties */

.w-100 {
    width: 100%;
}

.w-49 {
    width: 49%;
}

.overflow {
    overflow: hidden;
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.justify-space-btw {
    justify-content: space-between;
}

.y-center {
    align-items: center;
}

.x-center {
    justify-content: center;
}

.ml-auto {
    margin-left: auto;
}

.mr-auto {
    margin-right: auto;
}

.cursor {
    cursor: pointer;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.col-6 {
    width: 50%;
    padding-left: 12px;
    padding-right: 12px;
}

/* section 1 (navbar) */

.logo {
    font-family: Poppins;
    font-weight: 700;
    font-size: var(--text-2xl);
    line-height: 135%;
    color: #2C49FE;
}

.logo span {
    color: #01C8FF;
}

.menu-content {
    font-family: Poppins;
    font-weight: 600;
    font-size: var(--text-s);
    line-height: 100%;
    color: #FFFFFF;
    margin-right: 60px;
    opacity: 70%;
    transition: opacity 150ms linear;
}

.menu-content:hover {
    opacity: 100%;
}

.logout {
    width: 118px;
    height: 46px;
    background-color: #2C49FE;
    color: #FFFFFF;
    border: 0;
    border-radius: 23px;
    font-family: Poppins;
    font-weight: 600;
    font-size: var(--text-s);
    line-height: 150%;
    margin-right: 60px;
}

.logout:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

nav {
    margin-bottom: 170px;
}

/* section 1 (content) */

.section1-heading {
    max-width: 1044px;
    font-family: Poppins;
    font-weight: 700;
    font-size: var(--text-4xl);
    line-height: 150%;
    color: #FFFFFF;
    margin-bottom: 18px;
}

.section1-content {
    max-width: 765px;
    font-family: Yantramanav;
    font-weight: 400;
    font-size: var(--text-l);
    line-height: 100%;
    color: #FFFFFF;
    margin-bottom: 33px;
}

.button-box {
    margin-bottom: 145px;
}

.get-started {
    width: 170px;
    height: 50px;
    background-color: #2C49FE;
    color: #FFFFFF;
    font-family: Poppins;
    font-weight: 600;
    font-size: var(--text-l);
    line-height: 150%;
    border: 0;
    border-radius: 28px;
    margin-right: 23px;
    transition: all 150ms linear;
}

.get-started:hover {
    background-color: #FFFFFF;
    color: #2C49FE;
}

.section1-learnmore {
    font-family: Poppins;
    font-weight: 400;
    font-size: var(--text-l);
    line-height: 150%;
    color: #FFFFFF;
    opacity: 70%;
    transition: opacity 150ms linear;
}

.section1-learnmore:hover {
    opacity: 100%;
}

.blue-box {
    background-color: #2C49FE;
    opacity: 70%;
    max-width: 962px;
    height: 108px;
    padding: 19px 25px;
    border-radius: 100px;
}

.blue-box-head {
    font-family: Yantramanav;
    font-weight: 500;
    font-size: var(--text-l);
    line-height: 100%;
    color: #FFFFFF;
    opacity: 100%;
    margin-bottom: 4px;
}

.blue-box-content {
    font-family: Yantramanav;
    font-weight: 400;
    font-size: var(--text-xs);
    line-height: 100%;
    color: #FFFFFF;
    opacity: 100%;
}

.svg-mr {
    margin-right: 17px;
}

.go-check {
    width: 185px;
    height: 70px;
    background-color: #FFFFFF;
    font-family: Poppins;
    font-weight: 700;
    font-size: var(--text-l);
    line-height: 100%;
    color: #2C49FE;
    opacity: 100%;
    border: 0;
    border-radius: 150px;
    transition: all 150ms linear;
}

.go-check:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    scale: 1.05;
}

.line1,
.line2,
.line3 {
    height: 74px;
    border: 2px solid #FFFFFF;
}

.section1-pb {
    padding-bottom: 104px;
}

.blue-line-1 {
    right: 15%;
}

/* section 2 */

.section2-pt {
    padding-top: 137px;
}

.card {
    max-width: 633px;
    margin-bottom: 39.5px;
}

.blue-line-2 {
    width: 189px;
    margin-bottom: 21px;
}

.tv {
    width: 90%;
}

.card-head {
    font-family: Poppins;
    font-weight: 700;
    font-size: var(--text-3xl);
    line-height: 100%;
    margin-bottom: 6px;
}

.card-content {
    font-family: Poppins;
    font-weight: 400;
    font-size: var(--text-s);
    line-height: 100%;
    color: #4D4D4D;
}

.circle {
    width: 79px;
    height: 79px;
    border: 2px solid #2C49FE;
    background-color: #FFFFFF;
    border-radius: 50%;
    top: -20%;
    left: 50%;
    transform: translateX(-50%);
}

.card1 {
    max-width: 260px;
    height: 198px;
    padding: 0 20px 17px;
    margin-top: 39.5px;
    border: 2px solid #2C49FE;
    border-radius: 5px;
    transition: all 150ms linear;
}

.card1-head {
    font-family: Poppins;
    font-weight: 500;
    font-size: var(--text-xl);
    line-height: 100%;
    color: #2C49FE;
    margin-top: 45px;
    margin-bottom: 2px;
    transition: color 150ms linear;
}

.card1-content {
    font-family: Poppins;
    font-weight: 400;
    font-size: var(--text-s);
    line-height: 150%;
    text-align: center;
    color: #2C49FE;
    transition: color 150ms linear;
}

.mb-39 {
    margin-bottom: 39.9px;
}

.mr-30 {
    margin-right: 30px;
}

.section2-mb {
    margin-bottom: 73px;
}

.card1:hover {
    background-color: #2C49FE;
    scale: 1.05;
}

.card1:hover .card1-head,
.card1:hover .card1-content {
    color: #FFFFFF;
}

/* section 3 */

.section3 {
    background-image: url(/assets/images/section3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.pt-50 {
    padding-top: 50px;
}

.section3-heading {
    font-family: Poppins;
    font-weight: 700;
    font-size: var(--text-3xl);
    line-height: 130%;
    text-align: center;
    color: #FFFFFF;
    max-width: 765px;
    padding-bottom: 40px;
}

.section3-content {
    font-family: Poppins;
    font-weight: 400;
    font-size: var(--text-s);
    line-height: 100%;
    text-align: center;
    color: #FFFFFF;
    max-width: 765px;
    padding-bottom: 78px;
}

.section3-box {
    max-width: 920px;
    justify-content: space-between;
    padding-bottom: 46px;
}

.section3-box div{
    transition: scale 150ms linear;
}

.section3-box div:hover{
    scale: 1.05;
}

.section3-box-head {
    font-family: Poppins;
    font-weight: 700;
    font-size: var(--text-2xl);
    line-height: 100%;
    color: #FFFFFF;
    padding-top: 20px;
    padding-bottom: 20px;
}

.section3-box-content {
    font-family: Poppins;
    font-weight: 400;
    font-size: var(--text-m);
    line-height: 100%;
    color: #FFFFFF;
}

/* section 4 */

.blue-line-3 {
    width: 189px;
    margin-bottom: 9px;
}

.section4-heading {
    max-width: 338px;
    font-family: Poppins;
    font-weight: 700;
    font-size: var(--text-3xl);
    line-height: 137%;
    margin-bottom: 12px;
}

.section4-content {
    max-width: 543px;
    font-family: Poppins;
    font-weight: 400;
    font-size: var(--text-s);
    line-height: 100%;
    color: #4D4D4D;
    margin-bottom: 15px;
}

.section4-learnmore {
    font-family: Poppins;
    font-weight: 700;
    font-size: var(--text-s);
    line-height: 100%;
}

.card2 {
    max-width: 339px;
    padding: 10px 12px 24px;
    margin-right: 30px;
    transition: scale 200ms linear;
    border-radius: 10px;
}

.card2:hover {
    box-shadow: 2px 9px 32px 0px #0000000F;
    scale: 1.05;
}

.card2-date {
    margin-top: 13px;
    font-family: Poppins;
    font-weight: 400;
    font-size: var(--text-xs);
    line-height: 100%;
    color: #4D4D4D;
}

.card2-head {
    font-family: Poppins;
    font-weight: 500;
    font-size: var(--text-xl);
    line-height: 100%;
    margin-bottom: 5px;
}

.card2-content {
    font-family: Poppins;
    font-weight: 400;
    font-size: var(--text-s);
    line-height: 100%;
    color: #4D4D4D;
}

.section4-padding {
    padding-top: 134px;
    padding-bottom: 163px;
}

/* section 5 */

.section5-img {
    width: 80%;
}

.section5-heading {
    max-width: 543px;
    font-family: Poppins;
    font-weight: 700;
    font-size: var(--text-3xl);
    line-height: 100%;
    margin-bottom: 7px;
}

.section5-content {
    max-width: 543px;
    font-family: Poppins;
    font-weight: 400;
    font-size: var(--text-s);
    line-height: 100%;
    color: #4D4D4D;
    margin-bottom: 15px;
}

.form-head {
    font-family: Poppins;
    font-weight: 700;
    font-size: 35px;
    line-height: 100%;
    margin-bottom: 14px;
}

.common {
    border-radius: 5px;
    border: 1px solid #999999;
    padding-left: 17px;
}

input {
    height: 42px;
    margin-bottom: 16px;
}

.textarea {
    height: 124px;
    margin-bottom: 37px;
    resize: none;
}

.sign-up {
    height: 46px;
    background-color: #2C49FE;
    font-family: Poppins;
    font-weight: 600;
    font-size: var(--text-s);
    line-height: 150%;
    color: #FFFFFF;
    border: 0;
    border-radius: 23px;
    transition: scale 150ms linear;
}

.sign-up:hover{
    scale: 1.025;
}

.section5-padding {
    padding-bottom: 90px;
}

/* section 6 */

.section6 {
    background-image: url(/assets/images/section6.png);
    padding-top: 90px;
    padding-bottom: 140px;
}

.section6-heading {
    max-width: 346.18px;
    font-family: Poppins;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: #FFFFFF;
    margin-top: 36px;
    margin-bottom: 24px;
}

.mr-15 {
    margin-right: 15.33px;
}

.list-head {
    font-family: Poppins;
    font-weight: 700;
    font-size: var(--text-xs);
    line-height: 100%;
    margin-bottom: 11px;
    color: #FFFFFF;
}

.list-content {
    font-family: Poppins;
    font-weight: 400;
    font-size: var(--text-2xs);
    line-height: 100%;
    color: #FFFFFF;
    margin-bottom: 12px;
}

.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 13px;
    grid-row-gap: 13px;
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
    transition: scale 100ms linear;
}

.div2 {
    grid-area: 1 / 2 / 2 / 3;
    transition: scale 100ms linear;
}

.div3 {
    grid-area: 1 / 3 / 2 / 4;
    transition: scale 100ms linear;
}

.div4 {
    grid-area: 2 / 1 / 3 / 2;
    transition: scale 100ms linear;
}

.div5 {
    grid-area: 2 / 2 / 3 / 3;
    transition: scale 100ms linear;
}

.div6 {
    grid-area: 2 / 3 / 3 /4;
    transition: scale 100ms linear;
    background-color: #18205C;
}

.show-more {
    max-width: 43.02px;
    font-family: Poppins;
    font-weight: 700;
    font-size: var(--text-2xs);
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
}

.div1:hover,
.div2:hover,
.div3:hover,
.div4:hover,
.div5:hover,
.div6:hover {
    scale: 1.1;
}

.copyright {
    font-family: Poppins;
    font-weight: 400;
    font-size: var(--text-xs);
    line-height: 100%;
    color: #FFFFFF;
    white-space: nowrap;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.ul-margin {
    margin-right: 100px;
}

@media (max-width:1024px) {
    :root {
        --text-2xs: 10px;
        --text-xs: 11px;
        --text-s: 13px;
        --text-m: 15px;
        --text-l: 17px;
        --text-xl: 22px;
        --text-2xl: 33px;
        --text-3xl: 45px;
        --text-4xl: 60px;
    }

    .card {
        margin-bottom: 0;
    }

    .card1 {
        margin-right: 30px;
        height: 150px;
    }

    .circle {
        top: -29%;
    }

    .blue-line-1 {
        right: 16.5%;
    }
}

@media (max-width:961px) {

    .flex-row-reverse {
        flex-direction: row-reverse;
    }

    .menu-list {
        background-color: #2C49FE;
        width: 400px;
        height: 600px;
        flex-direction: column;
        gap: 70px;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        right: -400px;
        z-index: 1;
        transition: right 400ms linear;
    }

    .menu-icon {
        width: 42px;
        height: 37px;
        z-index: 2;
        background-color: unset;
        border: 0;
    }

    .menu-icon span {
        width: 100%;
        height: 4px;
        background-color: #FFFFFF;
        border-radius: 50px;
        transition: all 200ms linear;
    }

    .menu-list.show {
        right: 0;
    }

    .activeNavBar .menu-icon span:first-child {
        transform: rotate(45deg);
        transform-origin: left;
    }

    .activeNavBar .menu-icon span:nth-child(2) {
        margin-left: -40px;
        display: none;
        pointer-events: none;
    }

    .activeNavBar .menu-icon span:last-child {
        transform: rotate(-45deg);
        transform-origin: left;
    }

    .activeNavBar .menu-icon {
        height: 34px;
    }

    .flex-md-column {
        flex-direction: column;
    }
}

@media (max-width:769px) {
    :root {
        --text-2xs: 8px;
        --text-xs: 9px;
        --text-s: 10px;
        --text-m: 12px;
        --text-l: 14px;
        --text-xl: 19px;
        --text-2xl: 30px;
        --text-3xl: 42px;
        --text-4xl: 53px;
    }

    nav {
        margin-bottom: 100px;
    }

    .button-box {
        margin-bottom: 70px;
    }

    .section1-pb {
        padding-bottom: 70px;
    }

    .section2-pt {
        padding-top: 80px;
    }

    .section4-padding {
        padding-top: 70px;
        padding-bottom: 80px;
    }

    .flex-m-column {
        flex-direction: column;
    }

    .col-md-12 {
        width: 100%;
    }

    .w-md-90 {
        max-width: 90%;
    }

    .section4-row-gap {
        gap: 30px;
    }

    .section3-content {
        max-width: 708px;
    }
}

@media (max-width:687px) {
    .col-sm-12 {
        width: 100%;
    }

    .flex-sm-column {
        flex-direction: column;
    }

    .card1 {
        margin-right: auto;
    }

    .svg-mb {
        margin-bottom: 13px;
    }

    .date-mb {
        margin-bottom: 18px;
    }

    .go-check {
        width: 150px;
        height: 50px;
    }
}

@media (max-width:591px) {
    :root {
        --text-2xs: 8px;
        --text-xs: 9px;
        --text-s: 10px;
        --text-m: 10px;
        --text-l: 12px;
        --text-xl: 16px;
        --text-2xl: 27px;
        --text-3xl: 39px;
        --text-4xl: 48px;
    }

    .blue-line-1 {
        width: 60%;
    }

    .col-mq-12 {
        width: 100%;
    }

    .d-mq-none {
        display: none;
    }

    .get-started {
        width: 140px;
        height: 42px;
    }

    .line1,
    .line2,
    .line3 {
        height: 65px;
    }

    nav {
        margin-bottom: 40px;
    }

    .section4-padding {
        padding-bottom: 40px;
    }

    .section6 {
        padding-top: 70px;
        padding-bottom: 100px;
    }
}

@media (max-width:511px) {
    .card1 {
        margin-left: auto;
    }

    .flex-mq-column {
        flex-direction: column;
    }

    .flex-mq-row {
        flex-direction: row;
    }

    .col-12 {
        width: 100%;
    }

    .blue-box {
        height: 100%;
        gap: 10px;
    }

    .svg-mr {
        margin-right: 150px;
    }

    .line1,
    .line2,
    .line3 {
        display: none;
    }
}

@media (max-width:376px) {
    :root {
        --text-2xs: 6px;
        --text-xs: 7px;
        --text-s: 8px;
        --text-m: 8px;
        --text-l: 9px;
        --text-xl: 13px;
        --text-2xl: 24px;
        --text-3xl: 36px;
        --text-4xl: 40px;
    }
}

@media (max-width:321px) {
    .svg-mr {
        margin-right: 110px;
    }
}

@media (min-width:961px) {
    .menu-icon {
        display: none;
    }
}