@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Yantramanav:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    --text-2xs: 12px;
    --text-xs: 14px;
    --text-s: 16px;
    --text-m: 18px;
    --text-l: 20px;
    --text-xl: 25px;
    --text-2xl: 36px;
    --text-3xl: 48px;
    --text-4xl: 64px;
}

/* container items */

.section1 {
    background-image: url(/assets/images/section1.png);
    background-size: cover;
    background-repeat: no-repeat;
}


.container {
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}

.row {
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

/* common properties */

.w-100{
    width: 100%;
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.justify-space-btw {
    justify-content: space-between;
}

.y-center {
    align-items: center;
}

.x-center {
    justify-content: center;
}

.ml-auto {
    margin-left: auto;
}

.mr-auto {
    margin-right: auto;
}

.cursor {
    cursor: pointer;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.col-6 {
    width: 50%;
    padding-left: 12px;
    padding-right: 12px;
}

/* section 1 (navbar) */

.logo {
    font-family: Poppins;
    font-weight: 700;
    font-size: var(--text-2xl);
    line-height: 135%;
    color: #2C49FE;
}

.logo span {
    color: #01C8FF;
}

.menu-content {
    font-family: Poppins;
    font-weight: 600;
    font-size: var(--text-s);
    line-height: 100%;
    color: #FFFFFF;
    margin-right: 60px;
    opacity: 70%;
    transition: opacity 150ms linear;
}

.menu-content:hover {
    opacity: 100%;
}

.logout {
    width: 118px;
    height: 46px;
    background-color: #2C49FE;
    color: #FFFFFF;
    border: 0;
    border-radius: 23px;
    font-family: Poppins;
    font-weight: 600;
    font-size: var(--text-s);
    line-height: 150%;
    transition: box-shadow 150ms linear;
}

.logout:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

nav {
    margin-bottom: 170px;
}

/* section 1 (content) */

.section1-heading {
    max-width: 1044px;
    font-family: Poppins;
    font-weight: 700;
    font-size: var(--text-4xl);
    line-height: 150%;
    color: #FFFFFF;
    margin-bottom: 18px;
}

.section1-content {
    max-width: 765px;
    font-family: Yantramanav;
    font-weight: 400;
    font-size: var(--text-l);
    line-height: 100%;
    color: #FFFFFF;
    margin-bottom: 33px;
}

.button-box {
    margin-bottom: 145px;
}

.get-started {
    width: 170px;
    height: 50px;
    background-color: #2C49FE;
    color: #FFFFFF;
    font-family: Poppins;
    font-weight: 600;
    font-size: var(--text-l);
    line-height: 150%;
    border: 0;
    border-radius: 28px;
    margin-right: 23px;
    transition: all 150ms linear;
}

.get-started:hover {
    background-color: #FFFFFF;
    color: #2C49FE;
}

.section1-learnmore {
    font-family: Poppins;
    font-weight: 400;
    font-size: var(--text-l);
    line-height: 150%;
    color: #FFFFFF;
    opacity: 70%;
    transition: opacity 150ms linear;
}

.section1-learnmore:hover {
    opacity: 100%;
}

.blue-box {
    background-image: url(/assets/images/blue-box.png);
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 962px;
    height: 108px;
    padding: 19px 23px;
}

.blue-box-head {
    font-family: Yantramanav;
    font-weight: 500;
    font-size: var(--text-l);
    line-height: 100%;
    color: #FFFFFF;
    margin-bottom: 4px;
}

.blue-box-content {
    font-family: Yantramanav;
    font-weight: 400;
    font-size: var(--text-xs);
    line-height: 100%;
    color: #FFFFFF;
    opacity: 70%;
}

.mr-17 {
    margin-right: 17px;
}

.go-check {
    width: 185px;
    height: 70px;
    background-color: #FFFFFF;
    font-family: Poppins;
    font-weight: 700;
    font-size: var(--text-l);
    line-height: 100%;
    color: #2C49FE;
    border: 0;
    border-radius: 150px;
    transition: all 150ms linear;
}

.go-check:hover {
    background-color: #2C49FE;
    color: #FFFFFF;
}

.line1,
.line2,
.line3 {
    height: 74px;
    border: 2px solid #FFFFFF;
}

.line1 {
    right: -65%;
}

.line2 {
    right: -120%;
}

.line3 {
    right: -50%;
}

.pb-104 {
    padding-bottom: 104px;
}

.blue-line-1 {
    right: 15%;
}

/* section 2 */

.pt-137 {
    padding-top: 137px;
}

.card {
    max-width: 633px;
    margin-bottom: 39.5px;
}

.blue-line-2 {
    width: 189px;
    margin-bottom: 21px;
}

.tv {
    width: 90%;
}

.card-head {
    font-family: Poppins;
    font-weight: 700;
    font-size: var(--text-3xl);
    line-height: 100%;
    margin-bottom: 6px;
}

.card-content {
    font-family: Poppins;
    font-weight: 400;
    font-size: var(--text-s);
    line-height: 100%;
    color: #4D4D4D;
}

.circle {
    width: 79px;
    height: 79px;
    border: 2px solid #2C49FE;
    background-color: #FFFFFF;
    border-radius: 50%;
    top: -20%;
    left: 50%;
    transform: translateX(-50%);
}

.card1 {
    max-width: 260px;
    height: 198px;
    padding: 0 20px 17px;
    border: 2px solid #2C49FE;
    border-radius: 5px;
    transition: background-color 150ms linear;
}

.card1-head {
    font-family: Poppins;
    font-weight: 500;
    font-size: var(--text-xl);
    line-height: 100%;
    color: #2C49FE;
    margin-top: 45px;
    margin-bottom: 2px;
    transition: color 150ms linear;
}

.card1-content {
    font-family: Poppins;
    font-weight: 400;
    font-size: var(--text-s);
    line-height: 150%;
    text-align: center;
    color: #2C49FE;
    transition: color 150ms linear;
}

.mb-39 {
    margin-bottom: 39.9px;
}

.mr-30 {
    margin-right: 30px;
}

.mb-73 {
    margin-bottom: 73px;
}

.card1:hover {
    background-color: #2C49FE;
}

.card1:hover .card1-head,
.card1:hover .card1-content {
    color: #FFFFFF;
}

/* section 3 */

.section3 {
    background-image: url(/assets/images/section3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.pt-50 {
    padding-top: 50px;
}

.section3-heading {
    font-family: Poppins;
    font-weight: 700;
    font-size: var(--text-3xl);
    line-height: 130%;
    text-align: center;
    color: #FFFFFF;
    max-width: 765px;
    padding-bottom: 40px;
}

.section3-content {
    font-family: Poppins;
    font-weight: 400;
    font-size: var(--text-s);
    line-height: 100%;
    text-align: center;
    color: #FFFFFF;
    max-width: 765px;
    padding-bottom: 78px;
}

.section3-box {
    max-width: 920px;
    justify-content: space-between;
    padding-bottom: 46px;
}

.section3-box-head {
    font-family: Poppins;
    font-weight: 700;
    font-size: var(--text-2xl);
    line-height: 100%;
    color: #FFFFFF;
    padding-top: 20px;
    padding-bottom: 20px;
}

.section3-box-content {
    font-family: Poppins;
    font-weight: 400;
    font-size: var(--text-m);
    line-height: 100%;
    color: #FFFFFF;
}

/* section 4 */

.blue-line-3 {
    width: 189px;
    margin-bottom: 9px;
}

.section4-heading {
    max-width: 338px;
    font-family: Poppins;
    font-weight: 700;
    font-size: var(--text-3xl);
    line-height: 137%;
    color: #000000;
    margin-bottom: 12px;
}

.section4-content {
    max-width: 543px;
    font-family: Poppins;
    font-weight: 400;
    font-size: var(--text-s);
    line-height: 100%;
    color: #4D4D4D;
    margin-bottom: 15px;
}

.section4-learnmore {
    font-family: Poppins;
    font-weight: 700;
    font-size: var(--text-s);
    line-height: 100%;
    color: #000000;
}

.card2 {
    max-width: 339px;
    padding: 10px 12px 24px;
    margin-right: 30px;
    transition: box-shadow 200ms linear;
    transition: scale 200ms linear;
    border-radius: 10px;
}

.card2:hover {
    box-shadow: 2px 9px 32px 0px #0000000F;
    scale: 1.05;
}

.card2-date {
    margin-top: 13px;
    font-family: Poppins;
    font-weight: 400;
    font-size: var(--text-xs);
    line-height: 100%;
    color: #4D4D4D;
}

.card2-head {
    font-family: Poppins;
    font-weight: 500;
    font-size: var(--text-xl);
    line-height: 100%;
    color: #000000;
    margin-bottom: 5px;
}

.card2-content {
    font-family: Poppins;
    font-weight: 400;
    font-size: var(--text-s);
    line-height: 100%;
    color: #4D4D4D;
}

.section4-padding {
    padding-top: 134px;
    padding-bottom: 163px;
}